body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('pngtree-diwali-sweets-high-quality-4k-ultra-hd-hdr-image_16161325.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
}

header {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

.contact {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    border-radius: 10px;
}

.contact h2 {
    font-size: 30px;
}

.contact p {
    font-size: 18px;
}